#ruta donde van a ir los archivos renombrados por filebot
MEDIA=
#ruta donde se descargan los archivos del torrent antes de renombrarse
STORAGE=/
MINIO_ROOT_USER= 
MINIO_ROOT_PASSWORD= 
##Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=~
POSTGRES_DB=
#Gitea
GITEA_RUNNER_REGISTRATION_TOKEN= #Get from gitea admin panel
